/* ------
  Skeleton
*/

* {
  transition: all 0.35s #{$swift};
  box-sizing: border-box;
}

#{$pseudo-elements} {
  box-sizing: border-box;
}

::selection { color: $brand-color;  background: $background-color; }

html, body {
  @extend .s100;
  overflow-x: hidden;
}

// State/view scaffolding

.app__content {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 1em;
}

.layout--standard {
  height: auto;
  overflow: visible;
  width: 200%;

  .app__view {
    vertical-align: top;
    width: 50%;
    display: inline-block;
    position: relative;
  }
}

.layout--simple {
  @extend .s100;
}
