doctype html
html(ng-app='Dossier')
  head
    meta(charset='utf8')
    title Dossier
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='styles/app.min.css')
    script(src='scripts/libs.min.js')
    script(src='scripts/app.min.js')
    script.
      // Injected from req.session.user
      // ^^^ Replace this with some sort of session cookie parsing
      appUser = !{session};
  body(role='application', ng-controller='AppController', ui-view='')
