header.app__header.bg-brand(role='banner')
  .app__content
    span.em4.bold.black.app__header__title Dossier
    nav.h-li.app__nav(role='menubar')
      a(ng-show='sessionStatus()' ng-click='logout()') Logout
      a(ui-sref='standard.home') Home
      a(ui-sref='standard.categories') Categories

main.app__body.layout--standard
  div.app__view(ui-view='content')

footer.app__footer
  .app__content
    span.em_8.gray
      | Created by&nbsp;
      a.inherit.bold(href='http://github.com/JanBaykara')
        i.fa.fa-github-square
        | &nbsp;Jan Baykara
