.tbl.aln-v-m.s100.bg-brand
  .tbl-c.aln-v-m.aln-h-m.s100
    .inl-b.aln-h-l.w50
      section.w100.fl-r
        h2 Sign in
        a.btn.presel.w100.bg-twitter(href='/auth/twitter')
          i.fa.fa-twitter
          | &nbsp;Sign in with Twitter
        a.btn.presel.w100.bg-dropbox(href='/auth/dropbox')
          i.fa.fa-dropbox
          | &nbsp;Sign in with Dropbox
