<div class="tbl aln-v-m s100 bg-brand ">
  <div class='tbl-c aln-v-m aln-h-m s100'>
    <div class='inl-b aln-h-l w50'>

      <section class='w50 fl-l'>
        <h2 class='on'>Login</h2>
        <input type='text' name='username' />
        <input type='password' name='password' />
        <button type='submit'>Login</button>
      </section>

      <section class='w50 fl-r'>
        <h2>Sign in</h2>
        <a href='' class='presel-button w100'>
          Twitter
        </a>
      </section>

    </div>
  </div>
</div>
